// Colors
$darkgrey: #666666;
$darkergrey: #333333;
$lightgrey: #dddddd;
$lightergrey: #f9f9f9;
$main-color: #3978b1;
$link-color: $darkergrey;

// Body
$body-background-color: #fafafa;
$body-default-color: #333333;
$body-default-font-family: Helvetica, Arial, sans-serif;

// Spacing
$space: 1.4rem;
$site-max-width: 100rem;
$large-space: 2.8rem;

// Font sizes
$base-font-size: 1.6rem;
$large-font-size: 2.2rem;

// Form inputs
$input-background: white;
$input-border: $lightgrey;
$input-font-size: 1.6rem;
$input-placeholder-color: $darkgrey;
$input-spacing: 1rem;
$input-text-color: $darkergrey;

// Boxed view
$boxed-view-overlay-bg: $lightgrey;
$boxed-view-bg: white;
$boxed-view-border-color: $lightgrey;

// Button
$button-bg: $main-color;
$button-color: white;
$button-pill-color: $main-color;
$button-secondary-bg: $lightergrey;
$button-secondary-color: $darkergrey;
$button-secondary-border-color: $lightgrey;

// Head bar
$head-bar-bg: $main-color;
$head-bar-title-color: white;
$header-height: 6rem;

// Item
$item-border-width: 4px;

// Page content
$page-content-height: calc(100vh - #{$header-height} - #{$space});
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width});