.head-bar {
  position: fixed;
  width: 100%;
}

.head-bar__content {
  height: $header-height;

  /* align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space; */
}

.head-bar__title {
  margin: 0;
}

.head-bar__nav-toggle {
  @include desktop {
    display: none !important;
  }
}
