.head-bar {
  background-color: $head-bar-bg;
  color: $head-bar-title-color;
}

.head-bar__content {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.head-bar__title {
  margin: 0;
}

.head-bar__nav-toggle {
  @include desktop {
    display: none !important;
  }
}
