.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
  position: relative;
  z-index: 1;

  @include desktop {
    padding: $space;
  }
}

.page-content__sidebar {
  display: flex;
  position: fixed;
    bottom: 0;
    top: $header-height;
    left: -110vw;
  transition: left .3s ease;
  transition: width .3s ease;
  width: 100vw;
  z-index: 9;  // Fix bug: text areas that shows on the top

  @include desktop {
    position: static;
    top: 0;
    width: $page-content-sidebar-width;
  }
}
.page-content__sidebar--extended {
  @include desktop {
    width: $page-content-sidebar-width-extended;
  }
}

.is-nav-open .page-content__sidebar {
  left: 0;
}

.page-content__main {
  display: flex;
  width: 100%;

  @include desktop {
    margin-left: $space;
  }
}
